<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <div class="row g-4 g-lg-5 align-items-center">
          <!-- Years content -->
          <div class="col-md-6 col-lg-4 text-center">
            <div
              class="icon-xxl bg-primary rounded-circle mx-auto mb-n7"
              style="width: 150px; height: 150px"
            ></div>
            <span
              class="heading-color fw-bold"
              style="font-size: 6rem; line-height: 1.25"
              >28</span
            >
            <h6 class="w-50 mx-auto">Years of working experience</h6>
          </div>

          <!-- Title content -->
          <div class="col-md-6 col-lg-4">
            <h6 class="text-body fw-normal">Since 1996</h6>
            <h3>Genuinely corporate UK-based enterprises</h3>
          </div>

          <!-- Info content -->
          <div class="col-lg-4">
            <p class="mb-4">
              Embrace a new era of digital success with Mizzle. Our team
              combines cutting-edge design with robust development to deliver
              websites that captivate and convert.
            </p>
            <a href="javascript:void(0);" class="btn btn-dark mb-0"
              >Know more about us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
