<section class="pt-sm-8 pb-7" style="padding-top: 0px !important">
  <div class="container pt-4 pt-sm-0">
    <!-- Hero START -->
    <div class="row g-4 g-xxl-5">
      <!-- Hero content START -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mb-0 lh-base">Bringing Fashion to Your Doorstep</h1>
        <p class="mb-0 mt-4">
          At Fizoillu, we offer a streamlined online dress rental experience,
          providing fashionable and affordable options for men, women, and
          children. Fizoillu’s main goal is to make every event unforgettable
          with ease and elegance.
        </p>
      </div>
      <!-- Hero content END -->

      <!-- List -->
      <div class="col-lg-4 col-xl-3 ms-auto position-relative">
        <!-- List -->
        <ul class="list-group list-group-borderless mb-4">
          <li class="list-group-item d-flex heading-color pb-0">
            <i class="bi bi-patch-check text-primary me-2"></i>Suitable Online
            Rentals
          </li>
          <li class="list-group-item d-flex heading-color pb-0">
            <i class="bi bi-patch-check text-primary me-2"></i>Premium-Quality
            Fashion Collection
          </li>
          <li class="list-group-item d-flex heading-color pb-0">
            <i class="bi bi-patch-check text-primary me-2"></i>Prompt Delivery
            and Returns
          </li>
          <li class="list-group-item d-flex heading-color pb-0">
            <i class="bi bi-patch-check text-primary me-2"></i>Reasonable and
            Transparent Pricing
          </li>
        </ul>
      </div>
    </div>
    <!-- Hero END -->
  </div>
</section>
