<section
  class="bg-dark pt-lg-8 pt-xl-9"
  style="
    background-image: url(assets/images/elements/bg-pattern-2.png);
    background-position: center left;
    background-size: cover;
  "
  data-bs-theme="dark"
>
  <div class="container position-relative pt-4 pt-lg-0">
    <div class="row align-items-center">
      <!-- Title -->
      <div class="col-md-7 col-xl-6">
        <h1 class="mb-4">Digital Marketing</h1>
        <p class="mb-4">
          Digital marketing is the strategic use of online channels and
          technologies to promote products, services, or brands to a target
          audience.
        </p>
      </div>

      <div class="col-md-4 ms-auto text-md-end">
        <a routerLink="/contact/v1" class="btn btn-lg btn-primary mb-6 mb-md-0"
          >Start your project</a
        >
      </div>
    </div>
  </div>
</section>
