<section class="pt-0">
  <div class="container">
    <div class="bg-dark rounded p-4 p-sm-6" data-bs-theme="dark">
      <div class="row align-items-center">
        <!-- Title and inputs -->
        <div class="col-md-6">
          <!-- Title -->
          <h2>Let’s automate & simplify your performance</h2>
          <p class="mb-0">
            Let us manage your IT for you so that you can get back to doing what
            you do best and we look in the future.
          </p>
        </div>

        <div class="col-md-6 text-end">
          <a routerLink="/contact/v1" class="btn btn-lg btn-primary mb-0"
            >Get started</a
          >
        </div>
      </div>
      <!-- Row END -->
    </div>
  </div>
</section>
