<section>
  <div class="container">
    <div class="row">
      <!-- Title and content -->
      <div class="col-md-4">
        <!-- Avatar Slider START -->
        <div class="avatar avatar-xl mb-md-4">
          <div class="swiper swiper-img-scale overflow-hidden">
            <swiper-container
              class="swiper-wrapper"
              [config]="swiperTestimonial"
              init="false"
            >
              <!-- Slider item -->
              <swiper-slide class="swiper-slide">
                <img
                  class="avatar-img rounded-circle border border-2 border-white"
                  src="assets/images/avatar/09.jpg"
                  alt="avatar"
                />
              </swiper-slide>

              <!-- Slider item -->
              <swiper-slide class="swiper-slide">
                <img
                  class="avatar-img rounded-circle border border-2 border-white"
                  src="assets/images/avatar/01.jpg"
                  alt="avatar"
                />
              </swiper-slide>

              <!-- Slider item -->
              <swiper-slide class="swiper-slide">
                <img
                  class="avatar-img rounded-circle border border-2 border-white"
                  src="assets/images/avatar/10.jpg"
                  alt="avatar"
                />
              </swiper-slide>

              <!-- Slider item -->
              <swiper-slide class="swiper-slide">
                <img
                  class="avatar-img rounded-circle border border-2 border-white"
                  src="assets/images/avatar/05.jpg"
                  alt="avatar"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <!-- Avatar Slider END -->

        <h2 class="mb-md-4">Hear from our satisfied clients ❤️</h2>
        <p class="mb-md-4">
          Read what our satisfied clients have to say about their experiences
          with our platform.
        </p>
      </div>

      <div class="col-md-7 ms-auto">
        <div class="tab-content mb-md-5" [ngbNavOutlet]="nav"></div>

        <ul
          ngbNav
          #nav="ngbNav"
          class="nav nav-pills nav-pills-testimonial nav-justified mb-3"
        >
          <li ngbNavItem>
            <button
              ngbNavLink
              class="nav-link d-flex align-items-center text-start p-3"
            >
              <!-- Avatar -->
              <div class="avatar flex-shrink-0">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/04.jpg"
                  alt="avatar"
                />
              </div>
              <!-- Info -->
              <div class="ms-2">
                <h6 class="mb-0">Louis Ferguson</h6>
                <p class="mb-0 small">Web Developer</p>
              </div>
            </button>
            <ng-template ngbNavContent>
              <div class="icon-lg bg-dark text-white rounded-circle mb-4">
                <i class="bi bi-quote fa-xl"></i>
              </div>
              <!-- Rating -->
              <ul class="list-inline mb-4">
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
              </ul>
              <h6 class="mb-2">"Transformed My Agency's Results"</h6>
              <p class="heading-color">
                As an employer, the platform exceeded my expectations. We
                swiftly found top-tier talent for our company, thanks to the
                user-friendly interface and the ability to connect with
                candidates that perfectly fit our requirements.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem>
            <button
              ngbNavLink
              class="nav-link d-flex align-items-center text-start p-3"
            >
              <!-- Avatar -->
              <div class="avatar flex-shrink-0">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/05.jpg"
                  alt="avatar"
                />
              </div>
              <!-- Info -->
              <div class="ms-2">
                <h6 class="mb-0">Emma Watson</h6>
                <p class="mb-0 small">Co-Founder</p>
              </div>
            </button>
            <ng-template ngbNavContent>
              <div class="icon-lg bg-dark text-white rounded-circle mb-4">
                <i class="bi bi-quote fa-xl"></i>
              </div>
              <!-- Rating -->
              <ul class="list-inline mb-4">
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
              </ul>
              <h6 class="mb-2">"Transformed My Agency's Results"</h6>
              <p class="heading-color">
                As an employer, the platform exceeded my expectations. We
                swiftly found top-tier talent for our company, thanks to the
                user-friendly interface and the ability to connect with
                candidates that perfectly fit our requirements.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem>
            <button
              ngbNavLink
              class="nav-link d-flex align-items-center text-start p-3"
            >
              <div class="avatar flex-shrink-0">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/06.jpg"
                  alt="avatar"
                />
              </div>
              <!-- Info -->
              <div class="ms-2">
                <h6 class="mb-0">Samuel Bishop</h6>
                <p class="mb-0 small">Product designer</p>
              </div>
            </button>
            <ng-template ngbNavContent>
              <div class="icon-lg bg-dark text-white rounded-circle mb-4">
                <i class="bi bi-quote fa-xl"></i>
              </div>
              <!-- Rating -->
              <ul class="list-inline mb-4">
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
              </ul>
              <h6 class="mb-2">"Transformed My Agency's Results"</h6>
              <p class="heading-color">
                As an employer, the platform exceeded my expectations. We
                swiftly found top-tier talent for our company, thanks to the
                user-friendly interface and the ability to connect with
                candidates that perfectly fit our requirements.
              </p>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
