<section class="pb-0">
  <div class="container">
    <!-- Title -->
    <div class="row g-4 align-items-center mb-4 mb-lg-5">
      <div class="col-lg-5">
        <h2 class="mb-0">Integrates with your workflow</h2>
      </div>
      <div class="col-lg-5 ms-auto text-lg-end">
        <!-- Button -->
        <div
          class="d-inline-block justify-content-center mx-auto bg-dark rounded px-5 py-3"
        >
          <span class="text-white">Explore our</span
          ><a class="ms-2" routerLink="/saas/integrations"
            >Integration library<span class="bi-chevron-right small ms-1"></span
          ></a>
        </div>
      </div>
    </div>

    <!-- Integrations cards -->
    <div class="row g-4 g-lg-5">
      <!-- Item -->
      @for (item of integrationsData; track $index) {
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="card card-hover-shadow border-primary-hover border h-100 p-4"
          >
            <div class="card-body p-0">
              <!-- Logo -->
              <div class="d-flex gap-3 align-items-center mb-3">
                <img
                  [src]="item.image"
                  class="h-40px"
                  alt="Integrations-icon"
                />
                <h6 class="mb-0">{{ item.name }}</h6>
              </div>
              <p>{{ item.description }}</p>
            </div>

            <div class="card-footer bg-transparent p-0 mt-6">
              <a
                [routerLink]="item.url"
                class="icon-link icon-link-hover heading-color text-primary-hover stretched-link mb-0"
                >View integration<i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
