<section>
  <div class="container">
    <!-- Title -->
    <div class="inner-container text-center mb-4 mb-sm-6">
      <h2 class="mb-4">Showcasing Recent Projects</h2>
      <p class="mb-0">
        Discover a selection of our most recent client projects, showcasing our
        expertise, creativity, and commitment to delivering outstanding results.
      </p>
    </div>

    <div class="row g-4">
      <!-- Tabs -->
      <div class="col-md-4 col-lg-3">
        <div class="d-flex flex-column h-100">
          <h6 class="mb-sm-3">Browse by:</h6>
          <!-- Tab item START -->
          <div class="grid-menu mb-4" data-target=".filter-container">
            <ul class="nav flex-md-column gap-1 nav-pills nav-pills-primary">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  (click)="filterItems('*')"
                  [ngClass]="{ active: activeFilter === '*' }"
                  >All work</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  (click)="filterItems('.marketing')"
                  [ngClass]="{ active: activeFilter === '.marketing' }"
                  >Digital Marketing</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  (click)="filterItems('.design')"
                  [ngClass]="{ active: activeFilter === '.design' }"
                  >Web design</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  (click)="filterItems('.business')"
                  [ngClass]="{ active: activeFilter === '.business' }"
                  >Business development</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  (click)="filterItems('.brand')"
                  [ngClass]="{ active: activeFilter === '.brand' }"
                  data-filter=".brand"
                  >Brand design</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  (click)="filterItems('.ui')"
                  [ngClass]="{ active: activeFilter === '.ui' }"
                  >UI/UX design</a
                >
              </li>
            </ul>

            <!--Tab item END  -->
          </div>

          <!-- Button -->
          <a routerLink="/portfolio/showcase" class="btn btn-light mt-auto mb-5"
            >View all projects<i class="fa-solid fa-arrow-right-long ms-2"></i
          ></a>
        </div>
      </div>

      <!-- Tab content START -->
      <div class="col-md-8 col-lg-9">
        <div class="row g-4 filter-container" appIsotope>
          <!-- Work item -->
          @for (item of projectsData; track $index) {
            <div class="col-sm-6 col-lg-4 grid-item {{ item.categoryClass }}">
              <div class="card card-element-hover card-metro-hover">
                <!-- Card Image -->
                <img [src]="item.image" alt="portfolio-image" />

                <!-- Card elements -->
                <div class="card-img-overlay hover-element d-flex">
                  <!-- Info -->
                  <div class="card-text mt-auto">
                    <h6 class="mb-0">
                      <a
                        routerLink="{{ item.url }}"
                        class="text-white stretched-link"
                        >{{ item.name }}</a
                      >
                    </h6>
                    <small class="text-white">{{ item.category }}</small>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
