<section class="pt-0">
  <div class="container">
    <div class="row g-4 align-items-center">
      <!-- Features -->
      <div class="col-lg-6">
        <div class="row g-xl-5">
          <!-- Item -->
          <div class="col-md-6">
            <div class="card card-body bg-light p-4 mt-5">
              <!-- Icon -->
              <figure
                class="text-primary mb-3 flex-shrink-0"
                [innerHTML]="robotIcon"
              ></figure>
              <h6>Innovation-driven</h6>
              <p class="mb-0">
                Elevate your digital presence with our innovation-driven
                approach
              </p>
            </div>

            <div class="card card-body bg-light p-4 mt-5">
              <!-- Icon -->
              <figure
                class="text-primary mb-3 flex-shrink-0"
                [innerHTML]="bulbIcon"
              ></figure>
              <h6>Transparent approach</h6>
              <p class="mb-0">
                At our digital agency, transparency isn't just a buzzword
              </p>
            </div>
          </div>

          <!-- Item -->
          <div class="col-md-6">
            <div class="card card-body bg-light p-4">
              <!-- Icon -->
              <figure
                class="text-primary mb-3 flex-shrink-0"
                [innerHTML]="technologyIcon"
              ></figure>
              <h6>Accessible technology</h6>
              <p class="mb-0">
                Celebrate Inclusivity with Accessible Technology.
              </p>
            </div>

            <div class="card card-body bg-light p-4 mt-5">
              <!-- Icon -->
              <figure
                class="text-primary mb-3 flex-shrink-0"
                [innerHTML]="wifiIcon"
              ></figure>
              <h6>Collaborative teamwork</h6>
              <p class="mb-0">
                We believe that the best results are born from the synergy of
                diverse
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="col-lg-6 ps-xl-7">
        <h2 class="mb-4">Know About Mizzle</h2>
        <p>
          At Mizzle, we're not just in the business of digital solutions; we're
          in the business of crafting digital success stories. Founded on a
          passion for innovation and a commitment to excellence, we've been at
          the forefront of the digital landscape, helping businesses like yours
          thrive in the digital age.
        </p>
        <p>
          Our story begins with a vision – a vision to transform the digital
          experience for businesses of all sizes. Over the years, we've evolved
          from a small startup to a dynamic digital agency with a global
          footprint.
        </p>
        <p class="mb-4">
          To empower businesses to achieve their digital goals. We believe that
          the digital realm offers boundless opportunities for growth and
          connection, and we're here to guide you through this transformative
          journey.
        </p>
        <!-- Button -->
        <a class="btn btn-dark me-3 mb-0" href="javascript:void(0);"
          >Explore services!</a
        >
        <a class="icon-link icon-link-hover ms-1" routerLink="/contact/v2"
          >Request a quote<i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
    <!-- Row END -->
  </div>
</section>
