<section
  class="py-8 py-sm-9 position-relative"
  style="
    background: url(assets/images/bg/05.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <!-- Bg overlay -->
  <div class="bg-overlay bg-dark opacity-7"></div>

  <div class="container position-relative z-index-1">
    <!-- Hero START -->
    <div class="row g-4 g-xxl-5">
      <!-- Hero content START -->
      <div class="col-lg-8 text-center mx-auto">
        <!-- Bread crumb -->
        <div class="d-flex justify-content-center position-relative mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dots breadcrumb-dark pb-0 mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Services
              </li>
            </ol>
          </nav>
        </div>
        <!-- Title -->
        <h1 class="mb-0 text-white">Our services</h1>
      </div>
      <!-- Hero content END -->
    </div>
    <!-- Hero END -->
  </div>
</section>
