<div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
  <!-- Title -->
  <h1 class="h3 mb-0">{{ heading }}</h1>

  <!-- Advanced filter responsive toggler START -->
  <button
    (click)="openMenu()"
    class="btn btn-primary d-lg-none flex-shrink-0 ms-2"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasSidebar"
    aria-controls="offcanvasSidebar"
  >
    <i class="fas fa-sliders-h"></i> Menu
  </button>
  <!-- Advanced filter responsive toggler END -->
</div>
