<section class="position-relative z-index-2 pt-0">
  <div class="container position-relative">
    <div
      class="bg-dark rounded position-relative overflow-hidden p-4 p-sm-6"
      style="
        background: url(assets/images/bg/15.jpg) no-repeat;
        background-size: cover;
        background-position: center;
      "
    >
      <div class="row align-items-center position-relative">
        <!-- Title and content -->
        <div class="col-md-6 col-xl-7 mb-4 mb-xl-0">
          <h2 class="text-white">Subscribe to our newsletter</h2>
          <p class="text-white mb-0">
            We've always worked very hard to give our customers the best
            experience.
          </p>
        </div>

        <!-- Input -->
        <form class="col-md-6 col-xl-4 ms-xl-auto">
          <input
            class="form-control mb-3"
            type="email"
            placeholder="Enter your email address"
          />
          <a href="javascript:void(0);" class="btn btn-primary mb-0 d-grid"
            >Subscribe now!</a
          >
        </form>
      </div>
    </div>
  </div>
</section>
