<section class="pt-lg-8 pt-xl-9">
  <div class="container pt-4 pt-lg-0">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <app-breadcrumb pageTitle="Terms & Conditions"></app-breadcrumb>
        <!-- Main title -->
        <div class="text-center mb-6">
          <h1>Terms & Conditions</h1>
        </div>

        <ol>
          <li><strong> Introduction</strong></li>
        </ol>
        <p>
          Welcome to Fizoillu. Your fashion solutions for hire: By visiting and
          using this website, you accept and agree to be legally bound by the
          Terms and Conditions here. Please read them before proceeding.
        </p>
        <p>&nbsp;</p>
        <ol start="2">
          <li><strong> Tenancy Agreement</strong></li>
        </ol>
        <p>
          When hiring the dress from Fizoillu, you agree to responsibly use it
          and return it to them in the same condition in which it was provided.
          If damage or loss occurs, depending on the extent, an additional
          charge may apply.
        </p>
        <p><strong>&nbsp;</strong></p>
        <ol start="3">
          <li><strong> Terms of Payment</strong></li>
        </ol>
        <p>
          All transactions will have to be made by cash on delivery. We accept
          no other payment methods for the time being.
        </p>
        <p>&nbsp;</p>
        <ol start="4">
          <li><strong> Refund Policy</strong></li>
        </ol>
        <p>
          If you have a right to a refund, we will request to obtain your bank
          account details in order to make the refund payable to your account.
          In any event, refunds are made based on our procedures and timeframe.
        </p>
        <p>&nbsp;</p>
        <ol start="5">
          <li><strong> Cancellation and Exchange</strong></li>
        </ol>
        <p>
          In case you are not satisfied with the rented dress, we can cancel or
          exchange it for you. A cancellation or return request should be raised
          by you to our team through info&#64;fizoillu.com.
        </p>
        <p>&nbsp;</p>
        <ol start="6">
          <li><strong> Customer Duties</strong></li>
        </ol>
        <p>
          You would ensure proper attention of and timely return of dresses
          taken on rent. Tardiness in return will involve extra charges.
        </p>
        <p>&nbsp;</p>
        <ol start="7">
          <li><strong> Privacy and Data Usage</strong></li>
        </ol>
        <p>
          Your personal information will be handled according to our Privacy
          Policy, which is in line with the Personal Data (Privacy) Ordinance
          (PDPO) of Hong Kong.
        </p>
        <p>&nbsp;</p>
        <ol start="8">
          <li><strong> Intellectual Property Rights</strong></li>
        </ol>
        <p>
          All content on this website, including text, graphics, and images, is
          the property of Fizoillu and is protected by intellectual property
          laws.
        </p>
        <p>&nbsp;</p>
        <ol start="9">
          <li><strong> Terms and Conditions Change</strong></li>
        </ol>
        <p>
          Fizoillu may, at its discretion, change or modify these Terms and
          Conditions at any time without notice. It's your responsibility to
          regularly check them.
        </p>
        <p>&nbsp;</p>
        <ol start="10">
          <li><strong> Contact Us</strong></li>
        </ol>
        <p>
          If you have questions or concerns about these Terms and Conditions,
          please do not hesitate to contact us at info&#64;fizoillu.com.
        </p>

        <p>
          You acknowledge that you have read, understood, and agreed to these
          Terms and Conditions once you use our services.
        </p>
      </div>
    </div>
    <!-- Row END -->
  </div>
</section>
