<sticky-header-component headerClass="header-sticky header-absolute">
  <app-horizontal-menu
    ulClassName="mx-auto"
    [docShow]="true"
    [showSignUp]="true"
    [showBuyNow]="true"
  />
</sticky-header-component>

<!-- =======================
Hero START -->
<section>
  <div class="container">
    <!-- Title and breadcrumb -->
    <app-breadcrumb pageTitle="Tuxedo" />

    <div class="row mt-7">
      <!-- Images -->
      <div class="col-md-5 mb-5 mb-md-0">
        <!-- Slider START -->
        <div class="swiper">
          <lightgallery [settings]="setting">
            <swiper-container
              [config]="swiperConfig"
              init="false"
              class="swiper-wrapper"
            >
              <!-- Slider items -->
              @for (image of productImages; track $index) {
                <swiper-slide class="swiper-slide">
                  <a class="w-100 h-100" data-glightbox data-gallery="gallery">
                    <div class="card card-element-hover overflow-hidden">
                      <!-- Image -->
                      <img [src]="image" class="rounded-3" alt="" />
                      <!-- Full screen button -->
                      <div class="hover-element w-100 h-100">
                        <i
                          class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                        ></i>
                      </div>
                    </div>
                  </a>
                </swiper-slide>
              }
            </swiper-container>
          </lightgallery>

          <!-- Add pagination and navigation elements here -->
          <div
            class="d-flex justify-content-between position-absolute top-50 start-0 w-100"
          >
            <a
              href="javascript:void(0);"
              class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-prev"
              ><i class="bi bi-arrow-left"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-next"
              ><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Product detail -->
      <div class="col-md-7 ps-md-6">
        <!-- Title -->
        <h1 class="h2 mb-4">Tuxedo</h1>

        <!-- Price -->
        <div style="display: flex;flex-direction: row; align-items: center; gap: 0.5rem;">
          <h4 class="text-success">{{ currency }} 960.00</h4>
          <h6 class="text-decoration-line-through">{{ currency }} 1200.00</h6>
        </div>
        <p class="mb-4">
          A tuxedo is always a stylish option for men. Fizoillu's tuxedo rental
          provides a sleek and fashionable look, ideal for any formal or
          informal occasion. Designed with high-standard fabric, our tuxedos
          ensure both style and comfort for contemporary men.
        </p>
        <h6>Description</h6>
        <p class="mb-4">
          Whether you are going to a wedding, a black-tie event, or a gala, our
          tuxedo offers a perfect fit and timeless sophistication. The superb
          design of our tuxedo pairs with trendy accessories, guaranteeing you
          stand out in each crowd. With a variety of sizes available, it is
          curated to make you feel refined and confident throughout the event.
        </p>

        <!-- Button -->
        <div class="d-grid">
          <a href="/cart" class="btn btn-primary mb-0 w-100"
            ><i class="bi bi-cart2 me-2"></i>Rent Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <shop-single-specification /> -->

<shop-single-similar-product />
<app-footer1 />
