<section class="pt-0">
  <div class="container">
    <div class="bg-dark rounded position-relative overflow-hidden p-4 p-sm-7">
      <!-- SVG decoration -->
      <div
        class="position-absolute top-0 start-0 mt-n8 mt-xl-n5 d-none d-md-block"
      >
        <img
          src="assets/images/elements/saas-decoration/05.png"
          class="rotate-33 h-200px"
          alt=""
        />
      </div>

      <!-- SVG decoration -->
      <div class="position-absolute end-0 bottom-0 d-none d-lg-block">
        <img
          src="assets/images/elements/cta-vector.svg"
          class="h-200px h-xl-300px"
          alt=""
        />
      </div>

      <div class="row g-4 position-relative">
        <!-- Title and inputs -->
        <div class="col-lg-10 col-xl-7 mx-auto text-center">
          <!-- Title -->
          <h3 class="text-white mb-3">Ready to elevate your business?</h3>
          <p class="text-white opacity-8">
            Join the Mizzle revolution today and be part of the millions who've
            already embraced a brighter future!
          </p>
          <!-- Button -->
          <a href="javascript:void(0);" class="btn btn-primary mb-6"
            >Get started today</a
          >

          <p class="text-white text-center">
            Used by the world best companies.
          </p>

          <!-- Client-Slider START -->
          <div class="swiper">
            <!-- Slider items -->
            <swiper-container
              [config]="swiperConfig"
              init="false"
              class="swiper-wrapper align-items-center"
            >
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/05.svg"
                  class="px-sm-3 ps-0"
                  alt="client-img"
                />
              </swiper-slide>
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/04.svg"
                  class="px-sm-3 ps-0"
                  alt="client-img"
                />
              </swiper-slide>
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/01.svg"
                  class="px-sm-3"
                  alt="client-img"
                />
              </swiper-slide>
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/02.svg"
                  class="px-sm-3"
                  alt="client-img"
                />
              </swiper-slide>
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/03.svg"
                  class="px-sm-3"
                  alt="client-img"
                />
              </swiper-slide>
              <!-- Image -->
              <swiper-slide class="swiper-slide">
                <img
                  src="assets/images/client/06.svg"
                  class="px-sm-3"
                  alt="client-img"
                />
              </swiper-slide>
            </swiper-container>
          </div>
          <!-- Client-Slider END -->
        </div>
      </div>
      <!-- Row END -->
    </div>
  </div>
</section>
