<section class="pb-0">
  <div class="container">
    <!-- Title -->
    <div class="row align-items-center g-4 mb-4 mb-sm-5">
      <div class="col-md-6 col-lg-5">
        <h2 class="mb-0">Our latest projects</h2>
      </div>
      <div class="col-md-6 col-lg-4 ms-auto text-md-end">
        <a routerLink="/portfolio/showcase" class="btn btn-lg btn-dark mb-0"
          >View all projects</a
        >
      </div>
    </div>

    <!-- Projects START -->
    <div class="row g-4 g-md-5">
      @for (item of projectsData; track $index) {
        <div class="col-lg-6">
          <div class="card bg-light p-3 p-sm-4 card-img-scale overflow-hidden">
            <div class="card-img-scale-wrapper rounded-3">
              <!-- Card Image -->
              <img [src]="item.image" class="img-scale" alt="portfolio-img" />
            </div>
            <!-- Card body -->
            <div
              class="card-body d-flex justify-content-between align-items-center px-0 pb-0"
            >
              <div class="me-3">
                <h5 class="mb-0">
                  <a
                    [routerLink]="item.url"
                    class="heading-color stretched-link"
                    >{{ item.name }}</a
                  >
                </h5>
                <small>{{ item.category }}</small>
              </div>
              <a
                href="javascript:void(0);"
                class="btn btn-round btn-dark flex-shrink-0"
                ><i class="bi bi-arrow-up-right"></i
              ></a>
            </div>
          </div>
        </div>
      }
    </div>
    <!-- Projects END -->
  </div>
</section>
