<div class="card bg-transparent rounded-3">
  <!-- Card header -->
  <div
    class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center px-0"
  >
    <h6 class="card-header-title mb-0">Devices</h6>
    <button class="btn btn-sm btn-danger-soft mb-0" type="button">
      Sign out from all devices
    </button>
  </div>
  <!-- Card body START -->
  <div class="card-body px-0">
    <!-- Device item -->
    <div class="d-flex border-bottom pb-4 mb-4">
      <!-- Icon -->
      <span class="fs-5 heading-color"><i class="bi bi-phone fa-fw"></i></span>
      <!-- Info -->
      <div class="ms-2">
        <p class="heading-color fw-bold mb-0">
          Iphone 12pro
          <span class="badge small text-bg-primary">Active now</span>
        </p>
        <ul class="nav nav-divider small">
          <li class="nav-item">London, UK</li>
          <li class="nav-item">Oct 23 at 1:15PM</li>
        </ul>
      </div>

      <!-- Dropdown button -->
      <div ngbDropdown class="dropdown ms-auto">
        <!-- Share button -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="text-primary-hover fs-6 arrow-none"
          role="button"
          id="dropdownAction1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-three-dots-vertical"></i>
        </a>
        <!-- dropdown button -->
        <ul
          ngbDropdownMenu
          class="dropdown-menu dropdown-menu-end min-w-auto shadow"
          aria-labelledby="dropdownAction1"
        >
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-pencil-square me-2"></i>Edit</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-slash-circle me-2"></i>Remove</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Device item -->
    <div class="d-flex border-bottom pb-4 mb-4">
      <!-- Icon -->
      <span class="fs-5 heading-color"><i class="bi bi-phone fa-fw"></i></span>
      <!-- Info -->
      <div class="ms-2">
        <p class="heading-color fw-bold mb-0">Iphone SE</p>
        <ul class="nav nav-divider small">
          <li class="nav-item">London, UK</li>
          <li class="nav-item">Oct 13 at 4:15PM</li>
        </ul>
      </div>

      <!-- Dropdown button -->
      <div ngbDropdown class="dropdown ms-auto">
        <!-- Share button -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="text-primary-hover fs-6 arrow-none"
          role="button"
          id="dropdownAction2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-three-dots-vertical"></i>
        </a>
        <!-- dropdown button -->
        <ul
          ngbDropdownMenu
          class="dropdown-menu dropdown-menu-end min-w-auto shadow"
          aria-labelledby="dropdownAction2"
        >
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-pencil-square me-2"></i>Edit</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-slash-circle me-2"></i>Remove</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Device item -->
    <div class="d-flex border-bottom pb-4 mb-4">
      <!-- Icon -->
      <span class="fs-5 heading-color"><i class="bi bi-laptop fa-fw"></i></span>
      <!-- Info -->
      <div class="ms-2">
        <p class="heading-color fw-bold mb-0">Macbook pro</p>
        <ul class="nav nav-divider small">
          <li class="nav-item">California, USA</li>
          <li class="nav-item">Oct 20 at 5:15PM</li>
        </ul>
      </div>

      <!-- Dropdown button -->
      <div ngbDropdown class="dropdown ms-auto">
        <!-- Share button -->
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="text-primary-hover fs-6 arrow-none"
          role="button"
          id="dropdownAction3"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-three-dots-vertical"></i>
        </a>
        <!-- dropdown button -->
        <ul
          ngbDropdownMenu
          class="dropdown-menu dropdown-menu-end min-w-auto shadow"
          aria-labelledby="dropdownAction3"
        >
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-pencil-square me-2"></i>Edit</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);"
              ><i class="bi bi-slash-circle me-2"></i>Remove</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Button -->
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-dark mb-0">Need help?</button>
    </div>
  </div>
  <!-- Card body END -->
</div>
