<sticky-header-component headerClass="header-sticky header-absolute">
  <app-horizontal-menu
    ulClassName="mx-auto"
    [docShow]="true"
    [showSignUp]="true"
    [showBuyNow]="true"
  />
</sticky-header-component>
<section style="padding-top: 0px !important">
  <div class="container position-relative pt-4 pt-lg-0">
    <div class="row align-items-center">
      <app-breadcrumb pageTitle="Contact Us"></app-breadcrumb>
    </div>
  </div>
</section>
<main>
  <section class="pt-xl-8" style="padding-top: 0px !important">
    <div class="container">
      <div class="row g-4 g-xxl-5">
        <div class="col-xl-9 mx-auto">
          <!-- Image -->
          <img src="assets/images/bg/02.jpg" class="rounded" alt="contact-bg" />

          <!-- Contact form START -->
          <div class="row mt-n5 mt-sm-n7 mt-md-n8">
            <div class="col-11 col-lg-9 mx-auto">
              <div class="card shadow p-4 p-sm-5 p-md-6">
                <!-- Card header -->
                <div class="card-header border-bottom px-0 pt-0 pb-5">
                  <!-- Title -->
                  <h1 class="mb-3 h3">Have any questions in mind?</h1>
                  <p class="mb-0">You can get in touch with us anytime.</p>
                </div>
                <!-- Card body & form -->
                <form
                  [formGroup]="contactForm"
                  (ngSubmit)="onSubmit()"
                  class="card-body px-0 pb-0 pt-5"
                >
                  <!-- Name -->
                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control bg-transparent"
                      [ngClass]="{
                        'is-invalid': submitted && form['name'].invalid,
                      }"
                      placeholder="Your name"
                    />
                    <label>Your name</label>
                    <div class="invalid-feedback">
                      Please enter a valid name.
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="form-floating mb-4">
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control bg-transparent"
                      [ngClass]="{
                        'is-invalid': submitted && form['email'].invalid,
                      }"
                      placeholder="name@example.com"
                    />
                    <label>Email address</label>
                    <div class="invalid-feedback">
                      Please enter a valid email.
                    </div>
                  </div>

                  <!-- Phone Number -->
                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      formControlName="number"
                      class="form-control bg-transparent"
                      [ngClass]="{
                        'is-invalid': submitted && form['number'].invalid,
                      }"
                      placeholder="Phone number"
                    />
                    <label>Phone number</label>
                    <div class="invalid-feedback">
                      Please enter a 10-digit phone number.
                    </div>
                  </div>

                  <!-- Message -->
                  <div class="form-floating mb-4">
                    <textarea
                      formControlName="message"
                      class="form-control bg-transparent"
                      [ngClass]="{
                        'is-invalid': submitted && form['message'].invalid,
                      }"
                      placeholder="Leave a message here"
                      style="height: 100px"
                    ></textarea>
                    <label>Message</label>
                    <div class="invalid-feedback">
                      Please enter at least 2 characters.
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <button
                    type="submit"
                    class="btn btn-lg btn-primary mb-0"
                    [disabled]="loading"
                  >
                    {{ loading ? 'Sending...' : 'Send a message' }}
                  </button>

                  <!-- Submission Status -->
                  <div
                    *ngIf="submissionStatus"
                    class="mt-3 alert"
                    [ngClass]="{
                      'alert-success': submissionStatus.success,
                      'alert-danger': !submissionStatus.success,
                    }"
                  >
                    {{ submissionStatus.message }}
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Contact form END -->
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>

  <app-contact-info />
</main>

<app-footer1 />
