<section style="padding-top: 0px !important">
  <div class="container position-relative pt-4 pt-lg-0">
    <div class="row align-items-center">
      <app-breadcrumb
        pageTitle="Cancellation and Return Policy"
      ></app-breadcrumb>
    </div>
  </div>
</section>
<main>
  <section class="pt-xl-8" style="padding-top: 0px !important">
    <div class="container">
      <div class="row g-4 g-xxl-5">
        <div class="col-xl-9 mx-auto">
          <!-- Main title -->
          <div class="text-center mb-6">
            <h1>Cancellation and Return Policy</h1>
          </div>

          <p>
            At Fizoillu, we know plans change, and we want to be flexible enough
            to allow the smooth process of renting our dress products. For
            clarity purposes, please see the following Cancellation and Return
            Policy for cancellations, exchanges, and refunds.
          </p>
          <p>&nbsp;</p>
          <ol>
            <li><strong> Order Cancellation </strong></li>
          </ol>
          <p>
            Customers can cancel their rental booking before the scheduled
            delivery or pickup date. To initiate a cancellation, please contact
            us at info&#64;fizoillu.com with your order details. Timely
            communication helps us process your request efficiently.
          </p>
          <p>&nbsp;</p>
          <ol start="2">
            <li><strong> Exchange of Dresses</strong></li>
          </ol>
          <p>
            If the dress rented does not meet your expectations in terms of
            size, style, or otherwise, you can request an exchange. Exchanges
            are possible only if the product is available and must be done
            immediately after receiving the dress.
          </p>
          <p>&nbsp;</p>
          <ol start="3">
            <li><strong> Refund Procedure</strong></li>
          </ol>
          <p>
            Refunds are processed in respect of cancellations that have been
            made within the accepted period or in cases where the exchange
            cannot be carried out. Refunds shall not be processed in cash. For
            processing refunds, customers need to furnish their valid bank
            account details through info&#64;fizoillu.com. Kindly ensure all
            information submitted is correct and error-free to avoid a delayed
            refund process.
          </p>
          <p>&nbsp;</p>
          <ol start="4">
            <li><strong> Condition for Return </strong></li>
          </ol>
          <p>
            Dresses shall be returned under the same conditions in which they
            have been received, with no stains, no damage, and without any
            changes. Failure to comply shall lead to the deduction from the
            refundable amount or refusal of a refund.
          </p>
          <p>&nbsp;</p>
          <ol start="5">
            <li><strong> Contact Us </strong></li>
          </ol>
          <p>
            For any queries related to cancellations, exchanges, and refunds,
            write to us at info&#64;fizoillu.com.
          </p>
          <p>
            By continuing with your booking, you agree to the terms as outlined
            in this Cancellation and Return Policy. We appreciate your
            understanding and cooperation.
          </p>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
</main>
