<Section class="pt-0">
  <div class="container">
    <!-- Title -->
    <div class="inner-container-small text-center mb-4 mb-sm-6">
      <h2 class="mb-2">Follow our work</h2>
      <p class="mb-0">
        The combination of my passion for design, code & interaction positions
        me in a unique place in the web design world.
      </p>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-4">
      <!-- Address info -->
      @for (work of workList; track $index) {
        <div class="col">
          <div class="card card-body bg-light border">
            <div class="d-flex align-items-center">
              <div class="d-flex">
                <!-- Icon -->
                <img [src]="work.image" class="h-50px" alt="" />
                <!-- Content -->
                <div class="mx-3">
                  <h6 class="mb-0">{{ work.title }}</h6>
                  <small>{{ work.description }}</small>
                </div>
              </div>
              <!-- Button -->
              <a
                class="icon-link icon-link-hover text-primary-hover stretched-link"
                href="javascript:void(0);"
                ><i class="bi bi-arrow-right fs-5"></i>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
    <!-- Row END -->
  </div>
</Section>
