<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="card bg-transparent p-0">
    <!-- Card header -->
    <div class="card-header bg-transparent border-bottom px-0">
      <h6 class="mb-0">Update password</h6>
    </div>

    <!-- Card body -->
    <div class="card-body px-0">
      <!-- Current password -->
      <div class="mb-3">
        <label class="form-label">Current password</label>
        <input
          class="form-control"
          formControlName="currentPWD"
          form
          type="password"
          [ngClass]="{ 'is-invalid': submitted && form['currentPWD'].errors }"
          placeholder="Enter current password"
        />
        <div class="invalid-feedback">Please enter your old password.</div>
      </div>
      <!-- New password -->
      <div class="mb-3">
        <label class="form-label">Enter new password</label>

        <div class="position-relative">
          <input
            type="{{ isShowPassword ? 'text' : 'password' }}"
            formControlName="newPWD"
            [ngClass]="{ 'is-invalid': submitted && form['newPWD'].errors }"
            class="form-control fakepassword pe-6"
            id="psw-input"
            placeholder="Enter your password"
          />
          <span
            class="position-absolute top-50 end-0 translate-middle-y p-0 me-2"
            (click)="isShowPassword = !isShowPassword"
          >
            <i
              class="fakepasswordicon fas cursor-pointer p-2"
              [ngClass]="isShowPassword ? 'fa-eye' : 'fa-eye-slash'"
            ></i>
          </span>
          <div class="invalid-feedback">
            New password should not be same as old password
          </div>
        </div>
      </div>
      <!-- Confirm password -->
      <div>
        <label class="form-label">Confirm new password</label>
        <input
          class="form-control"
          type="password"
          formControlName="confirmPWD"
          [ngClass]="{
            'is-invalid':
              submitted &&
              form['confirmPWD'].touched &&
              passwordForm.errors?.['notSame'],
          }"
          placeholder="Enter new password"
        />
        <div class="invalid-feedback">
          New password and confirm password do not match.
        </div>
      </div>
      <!-- Button -->
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary mb-0">
          Change password
        </button>
      </div>
    </div>
  </div>
</form>
