<section class="pt-7 pb-0">
  <div class="container pt-5">
    <!-- Image -->
    <div
      class="card h-300px h-md-400px overflow-hidden"
      style="
        background: url(assets/images/bg/09.jpg) no-repeat;
        background-size: cover;
        background-position: center;
      "
    ></div>

    <!-- Content -->
    <div class="row">
      <div class="col-11 col-lg-10 mx-auto mt-n7">
        <div
          class="bg-body border border-opacity-10 shadow rounded position-relative p-4 p-sm-5"
        >
          <h4 class="mb-3">
            See why direct-to-consumer brands choose mizzle for their email
            efforts
          </h4>

          <div class="d-flex align-items-center flex-wrap">
            <span>October 23, 2023</span>
            <span class="text-secondary opacity-3 mx-3">|</span>
            <span>9 min read</span>
            <span class="text-secondary opacity-3 mx-3">|</span>
            <div class="d-flex align-items-center">
              <div class="avatar avatar-sm flex-shrink-0 me-1">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/05.jpg"
                  alt="avatar"
                />
              </div>
              <span class="fw-semibold heading-color"> Carolyn Ortiz</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
