<div
  class="d-md-flex justify-content-between align-items-center text-center text-lg-start py-4"
>
  <!-- copyright text -->
  <div class="text-body">
    Copyrights ©{{ currentYear }} Mizzle. Build by
    <a href="{{ creditsTo.website }}" class="text-body text-primary-hover">{{
      creditsTo.name
    }}</a
    >.
  </div>
  <!-- copyright links-->
  <div class="nav mt-2 mt-lg-0">
    <ul class="list-inline mx-auto mb-0">
      <li class="list-inline-item me-0">
        <a class="nav-link py-0" href="javascript:void(0);">Privacy policy</a>
      </li>
      <li class="list-inline-item me-0">
        <a class="nav-link py-0 pe-0" href="javascript:void(0);"
          >Terms &amp; conditions</a
        >
      </li>
    </ul>
  </div>
</div>
