<section class="pt-8 position-relative overflow-hidden">
  <!-- SVG Decoration -->
  <figure class="position-absolute top-0 start-50 translate-middle">
    <svg
      class="fill-light opacity-8"
      width="1990"
      height="859"
      viewBox="0 0 1990 859"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1990 429.5C1990 666.706 1544.52 859 995 859C445.477 859 0 666.706 0 429.5C0 192.294 445.477 0 995 0C1544.52 0 1990 192.294 1990 429.5Z"
      />
    </svg>
  </figure>

  <div class="container pt-lg-4">
    <div class="row g-4 g-xxl-5">
      <div class="col-lg-7 position-relative mx-auto text-center">
        <!-- Bread crumb -->
        <div class="d-flex justify-content-center mb-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dots pb-0 mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Customer stories
              </li>
            </ol>
          </nav>
        </div>

        <!-- Title -->
        <h1 class="mb-3">Customer Stories</h1>
        <p>
          It drew a hill from me. Valley by oh twenty direct me so. Departure
          defective arranging rapturous did believe him all had supported.
        </p>
      </div>
    </div>
  </div>
</section>
