<section class="pt-5 pt-xl-7">
  <!-- Slider START -->
  <div class="swiper overflow-hidden pt-5">
    <swiper-container class="swiper-wrapper" [config]="shopSwiper" init="false">
      <!-- Slider item -->
      <swiper-slide class="swiper-slide">
        <div
          class="card overflow-hidden h-500px h-xl-750px rounded-0"
          style="
            background-image: url(assets/images/shop/bg/01.jpg);
            background-position: center left;
            background-size: cover;
          "
        >
          <!-- Bg overlay -->
          <div class="bg-overlay bg-dark opacity-5 d-lg-none"></div>
          <!-- Card image overlay -->
          <div class="card-img-overlay d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-sm-11 col-lg-8 col-xl-5">
                  <span
                    class="d-inline-block text-bg-dark small rounded-pill px-3 py-2 mb-4"
                    >Effortless Style Awaits</span
                  >
                  <!-- Title -->
                  <h1 class="text-white display-6 mb-4">
                    Your Ideal Dress for Every Occasion
                  </h1>

                  <p class="text-white mb-4">
                    Explore a flawless way to shine with our curated dress
                    rentals. Sophisticated choices, a straightforward process,
                    and styles for any memorable moment.
                  </p>
                  <!-- <a
                    class="btn btn-lg btn-outline-white icon-link icon-link-hover mb-0"
                    href="/products"
                    >Show details<i class="bi bi-arrow-right"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <!-- Slider item -->
      <swiper-slide class="swiper-slide">
        <div
          class="card overflow-hidden h-500px h-xl-750px rounded-0"
          style="
            background-image: url(assets/images/shop/bg/02.jpg);
            background-position: center left;
            background-size: cover;
          "
        >
          <!-- Bg overlay -->
          <div class="bg-overlay bg-dark opacity-5 d-lg-none"></div>
          <!-- Card image overlay -->
          <div class="card-img-overlay d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-11 col-lg-8 col-xl-5 ms-auto">
                  <p class="fs-4 fw-normal text-white mb-3">
                    Fashion, Simplified Elegance
                  </p>
                  <!-- Title -->
                  <h1 class="text-white display-4 mb-3">
                    Rent Dresses, Redefine Your Charm
                  </h1>

                  <p class="text-white mb-4">
                    Discover a world of unique fashion with our dress rental
                    collection. Chic options are designed to complement each
                    occasion and personality.
                  </p>
                  <!-- <a
                    class="btn btn-lg btn-dark icon-link icon-link-hover mb-0"
                    href="/products"
                    >Show now<i class="bi bi-arrow-right"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <!-- Slider Pagination -->
    <div
      class="swiper-pagination swiper-pagination-line position-absolute bottom-0 mb-3"
    ></div>
  </div>
  <!-- Slider END -->
</section>
