<section class="pt-lg-8 pt-xl-9">
  <div class="container pt-4 pt-lg-0">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <app-breadcrumb pageTitle="Cookies Policy"></app-breadcrumb>
        <!-- Main title -->
        <div class="text-center mb-6">
          <h1>Cookies Policy</h1>
        </div>

        <p>
          Welcome to Fizoillu! The Cookies Policy is a declaration explaining
          the use of cookies and other such technologies on this website that
          will enhance the browsing experience for visitors. By proceeding with
          viewing our website, you will be agreeing to our use of cookies based
          on the provisions described below.
        </p>
        <p>&nbsp;</p>
        <p><strong>What are cookies?</strong></p>
        <p>
          Cookies are small text files that are placed on your device every time
          you visit a website. This enables us to understand how to interact
          better with our site, remember your preferences, and make your general
          browsing smoother.
        </p>
        <p>&nbsp;</p>
        <p><strong>Use of Cookies</strong></p>
        <p>Fizoillu makes use of cookies for:</p>
        <ul>
          <li>
            Website Performance: In order for our website to function properly
            and respond accordingly.
          </li>
          <li>
            User Preferences: To save user preferences, say language choice or
            even display preferences, etc.
          </li>
          <li>
            Analytics: This is to see properly how visitors interact with our
            website to further strengthen it.
          </li>
          <li>
            Security: It safeguards a user interface and, at times, acts as
            protection against various security threats.
          </li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Types of Cookies that are implemented</strong></p>
        <ul>
          <li>
            Essential Cookies- These have to ensure the proper functioning of a
            website.
          </li>
          <li>
            Performance Cookies- They will enable us to track problems so that
            we can solve the performance bugs on this website.
          </li>
          <li>
            Functionality Cookies- They enhance functionality and
            personalization.
          </li>
          <li>
            Analytical Cookies- They help us in understanding visitor behavior,
            which, on the other hand will improve our ability in enhancing the
            experience for the users.
          </li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Cookies Control</strong></p>
        <p>
          You can also exercise your options in your web browser settings
          regarding enabling, disabling, or controlling the placement of such
          cookies. Please note that if you disable some of these cookies, it may
          impact the functioning of our website.
        </p>
        <p>&nbsp;</p>
        <p><strong>Third-party Cookies</strong></p>
        <p>
          Third-party service providers that host our websites may also use
          their own cookies. Please refer to their privacy policies for more
          information about such cookies, as we do not control these cookies.
        </p>
        <p>&nbsp;</p>
        <p><strong>Revisions to This Policy</strong></p>
        <p>
          We have the right to update this Cookies Policy from time to time with
          respect to new technologies and/or prevailing applicable laws. In such
          cases, we will update this page.
        </p>
        <p>&nbsp;</p>
        <p><strong>Contact Us</strong></p>
        <p>
          For more questions about this Cookies Policy, you may reach us at
          info&#64;fizoillu.com.
        </p>
        <p>
          Thanks for choosing Fizoillu. We appreciate your trust and are
          committed to providing you with a seamless and transparent browsing
          experience.
        </p>
      </div>
    </div>
    <!-- Row END -->
  </div>
</section>
