<div class="card bg-transparent rounded-3">
  <!-- Card header -->
  <div class="card-header bg-transparent border-bottom px-0">
    <h6 class="card-header-title mb-0">Social media profile</h6>
  </div>
  <!-- Card body START -->
  <div class="card-body px-0">
    <!-- Facebook username -->
    <div class="mb-3">
      <label class="form-label"
        ><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook
        username</label
      >
      <input
        class="form-control"
        type="text"
        value="JqMiller"
        placeholder="Enter username"
      />
    </div>

    <!-- Twitter username -->
    <div class="mb-3">
      <label class="form-label"
        ><i class="bi bi-twitter text-twitter me-2"></i>Enter twitter
        username</label
      >
      <input
        class="form-control"
        type="text"
        value="JqMiller"
        placeholder="Enter username"
      />
    </div>

    <!-- Instagram username -->
    <div class="mb-3">
      <label class="form-label"
        ><i class="fab fa-instagram text-instagram-gradient me-2"></i>Enter
        instagram username</label
      >
      <input
        class="form-control"
        type="text"
        value="JqMiller"
        placeholder="Enter username"
      />
    </div>

    <!-- Youtube -->
    <div class="mb-3">
      <label class="form-label"
        ><i class="fab fa-youtube text-youtube me-2"></i>Add your youtube
        profile URL</label
      >
      <input
        class="form-control"
        type="text"
        value="https://www.youtube.com/in/Mizzle-05620abc"
        placeholder="Enter username"
      />
    </div>

    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
      <button type="button" class="btn btn-primary mb-0">Save changes</button>
    </div>
  </div>
  <!-- Card body END -->
</div>
