<footer
  class="bg-dark position-relative overflow-hidden pb-0"
  data-bs-theme="dark"
>
  <footer-decoration-pattern />

  <div class="position-absolute top-0 end-0 mt-n3 me-n4">
    <img
      src="assets/images/elements/decoration-pattern-2.svg"
      style="opacity: 0.05"
      alt=""
    />
  </div>

  <div class="container position-relative mt-5">
    <div class="row g-4 justify-content-between">
      <div class="col-lg-3">
        <app-logo-box className="me-0" imageClassName="h-40px" />

        <p class="mt-4 mb-2">
          We are your reliable, one-stop dress rental partner across Hong Kong,
          offering stylish outfits at affordable rates.
        </p>
      </div>

      <div class="col-lg-8 col-xxl-7">
        <div class="row g-4">
          <div class="col-6 col-md-4">
            <h6 class="mb-2 mb-md-4">Quick links</h6>
            <ul class="nav flex-column">
              @for (link of quickLink; track $index) {
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="link.link"
                    >{{ link.name }}
                    @if (link.badge) {
                      <span class="badge text-bg-danger ms-2">{{
                        link.badge
                      }}</span>
                    }
                  </a>
                </li>
              }
            </ul>
          </div>

          <div class="col-6 col-md-4">
            <h6 class="mb-2 mb-md-4">Other Links</h6>
            <ul class="nav flex-column">
              @for (item of communityList; track $index) {
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="item.link"
                    >{{ item.name }}
                    @if (item.icon) {
                      <i class="bi {{ item.icon }} small ms-1"></i>
                    }
                  </a>
                </li>
              }
            </ul>
          </div>

          <div class="col-md-4">
            <h6 class="mb-2 mb-md-4">Follow Us on</h6>

            <ul class="list-inline mb-0 mt-3">
              @for (link of socialLinks; track $index; let first = $first) {
                <li
                  class="list-inline-item me-2"
                  [ngClass]="{ 'ms-1': !first }"
                >
                  <a
                    class="btn btn-xs btn-icon btn-light"
                    [href]="link.link"
                    target="_blank"
                    ><i class="fab fa-fw {{ link.icon }} lh-base"></i
                  ></a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-4 mb-0" />

    <footer-credit-with-language />
  </div>
</footer>
