<section class="pt-0">
  <div class="container">
    <div class="row g-4 g-sm-6">
      <!-- Item -->
      @for (item of shopFeaturesData; track $index) {
        <div class="col-sm-6 col-lg-3">
          <div class="card card-body bg-transparent p-0">
            <div
              class="icon-lg rounded-circle bg-opacity-10 {{
                item.variantClassName
              }} mb-4"
            >
              <i class="bi {{ item.icon }} fa-lg"></i>
            </div>
            <h6 class="mb-3">{{ item.title }}</h6>
            <p class="mb-0">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
