<div class="card bg-transparent mt-5">
  <!-- Card header -->
  <div class="card-header bg-transparent border-bottom px-0">
    <h6 class="mb-0">Arrives by Wed, Jan 25</h6>
  </div>

  <!-- Card body -->
  <div class="card-body px-0 pb-0">
    <!-- Item -->
    <div class="d-flex align-items-start border-bottom pb-4 mb-4">
      <!-- Image -->
      <div class="bg-light p-2 rounded-2 w-25">
        <img src="assets/images/shop/02.png" alt="" />
      </div>

      <div class="ms-3">
        <p class="fw-semibold mb-1">
          <a href="javascript:void(0);" class="heading-color text-primary-hover"
            >Round neck cotton t-shirt</a
          >
        </p>
        <ul class="list-group list-group-borderless small">
          <li class="list-group-item mb-0 pb-0">Item: #2458644</li>
          <li class="list-group-item mb-0 pb-0">Color: Midblue</li>
          <li class="list-group-item mb-0 pb-0">Size: L</li>
        </ul>
      </div>
    </div>

    <!-- Item -->
    <div class="d-flex align-items-start border-bottom pb-4">
      <!-- Image -->
      <div class="bg-light p-2 rounded-2 w-25">
        <img src="assets/images/shop/08.png" alt="" />
      </div>

      <div class="ms-3">
        <p class="fw-semibold mb-1">
          <a href="javascript:void(0);" class="heading-color text-primary-hover"
            >Mizz dunk low shoes</a
          >
        </p>
        <ul class="list-group list-group-borderless small">
          <li class="list-group-item mb-0 pb-0">Item: #2458644</li>
          <li class="list-group-item mb-0 pb-0">Size: 42</li>
        </ul>
      </div>
    </div>
  </div>
</div>
