<section>
  <div class="container">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <div class="row align-items-center">
          <!-- Image -->
          <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
            <img src="assets/images/about/21.jpg" class="rounded" alt="" />
          </div>
          <!-- Content -->
          <div class="col-md-6 ms-auto">
            <h2 class="mb-md-4">Learn About Our Journey to SEO Mastery</h2>
            <p class="mb-md-4">
              With a team of dedicated professionals and years of industry
              experience, we pride ourselves on delivering innovative and
              effective SEO solutions tailored to your unique needs.
            </p>
            <p class="mb-md-4">
              Whether you're a small startup or a large enterprise, we have the
              expertise to meet your needs.
            </p>
            <div class="text-center d-inline-block bg-dark rounded px-5 py-3">
              <span class="text-white">Work with us?</span>
              <a class="ms-2" routerLink="/contact/v2"
                >Contact us now<span class="bi-chevron-right small ms-1"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
