<sticky-header-component headerClass="header-sticky header-absolute">
  <app-horizontal-menu
    ulClassName="mx-auto"
    [docShow]="true"
    [showSignUp]="true"
    [showBuyNow]="true"
  />
</sticky-header-component>

<section class="pt-lg-8 pt-xl-9">
  <div class="container position-relative pt-4 pt-lg-0">
    <div class="row align-items-center">
      <app-breadcrumb pageTitle="My Cart" />
    </div>
  </div>
</section>

<!-- <cart-detail /> -->
<contact-hero-cart></contact-hero-cart>
<!-- <cart-faq /> -->

<app-footer1 />
