<section>
  <div class="container">
    <div class="row g-lg-6">
      <div class="col-xl-10 mx-auto">
        <div class="row g-4 g-sm-5 g-lg-6 align-items-lg-center">
          <div class="col-md-6">
            <!-- Image -->
            <img
              src="assets/images/about/16.jpg"
              class="rounded"
              alt="about-img"
            />
          </div>

          <div class="col-md-6">
            <!-- Title -->
            <h3 class="mb-4">Boost your business efficiency with Mizzle.</h3>
            <p class="mb-0">
              The chatbot can be personalized to match the brand voice and tone,
              making it feel like an extension of the company's customer support
              team.
            </p>

            <hr class="my-5" />
            <!-- Divider -->

            <!-- Clients -->
            <div
              class="row row-cols-2 row-cols-sm-3 g-4 g-sm-5 align-items-center"
            >
              <!-- Image -->
              <div class="col">
                <img src="assets/images/client/01.svg" alt="client-img" />
              </div>
              <!-- Image -->
              <div class="col">
                <img src="assets/images/client/02.svg" alt="client-img" />
              </div>
              <!-- Image -->
              <div class="col">
                <img src="assets/images/client/03.svg" alt="client-img" />
              </div>
              <!-- Image -->
              <div class="col">
                <img src="assets/images/client/04.svg" alt="client-img" />
              </div>
              <!-- Image -->
              <div class="col">
                <img src="assets/images/client/05.svg" alt="client-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
