<section class="pt-0">
  <div class="container">
    <!-- Title -->
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3>What's trending now</h3>
    </div>

    <div class="row g-4 g-sm-5">
      <!-- Adv -->
      <div class="col-lg-8 col-xl-6">
        <div
          class="card p-0 h-100"
          style="
            background-image: url(assets/images/shop/bg/03.jpg);
            background-position: center left;
            background-size: cover;
          "
        >
          <div class="card-body p-5 mb-8">
            <h4 class="text-white my-4">Elegance in Every Outfit</h4>
            <a
              class="btn btn-lg btn-outline-white icon-link icon-link-hover mb-0"
              href="/products"
              >Shop now<i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/11.png" alt="" />
          </div>

          <div class="card-body pb-0">
            <h6 class="card-title">
              <a href="/tuxedo" class="stretched-link">Tuxedo</a>
            </h6>
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 960.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 1200.00</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Product item -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/12.png" alt="" />
          </div>

          <!-- Card body -->
          <div class="card-body pb-0">
            <!-- Title -->
            <h6 class="card-title">
              <a href="/blazer" class="stretched-link">Blazer</a>
            </h6>
            <!-- Badge and price -->
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 560.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 700.00</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Product item -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <!-- Image -->
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/13.png" alt="" />
          </div>

          <!-- Card body -->
          <div class="card-body pb-0">
            <!-- Title -->
            <h6 class="card-title">
              <a href="/evening-gown" class="stretched-link">Evening Gown</a>
            </h6>
            <!-- Badge and price -->
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 1080.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 1500.00</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Product item -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <!-- Image -->
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/14.png" alt="" />
          </div>

          <!-- Card body -->
          <div class="card-body pb-0">
            <!-- Title -->
            <h6 class="card-title">
              <a href="/cocktail-dress" class="stretched-link"
                >Cocktail Dress</a
              >
            </h6>
            <!-- Badge and price -->
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 657.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 900.00</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Product item -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <!-- Image -->
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/15.png" alt="" />
          </div>

          <!-- Card body -->
          <div class="card-body pb-0">
            <!-- Title -->
            <h6 class="card-title">
              <a href="/formal-suit" class="stretched-link">Formal Suit</a>
            </h6>
            <!-- Badge and price -->
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 980.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 1400.00</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Product item -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card border bg-transparent overflow-hidden p-0 h-100">
          <!-- Image -->
          <div class="card-header bg-light rounded m-2">
            <img src="assets/images/shop/16.png" alt="" />
          </div>

          <!-- Card body -->
          <div class="card-body pb-0">
            <!-- Title -->
            <h6 class="card-title">
              <a href="/party-dress" class="stretched-link">Party Dress</a>
            </h6>
            <!-- Badge and price -->
          </div>

          <!-- Card footer -->
          <div
            class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0"
          >
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <p class="fw-bold text-success mb-0">{{ currency }} 520.00</p>
              <small class="text-decoration-line-through"
                >{{ currency }} 800.00</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
