<div class="row g-4 justify-content-between">
  <!-- Widget 1 START -->
  <div class="col-lg-5">
    <!-- logo -->
    <app-logo-box imageClassName="h-40px" />

    <p class="mt-4 mb-2">
      A Bootstrap theme that's both stylish and functional, perfect for any type
      of technology or corporate website.
    </p>
    <!-- Social icon -->
    <ul class="list-inline mb-0 mt-4">
      @for (item of socialMediaLinks; track $index) {
        <li class="list-inline-item pe-1">
          <a class="btn btn-xs btn-icon btn-light" href="javascript:void(0);"
            ><i class="fab fa-fw {{ item.icon }} lh-base"></i
          ></a>
        </li>
      }
    </ul>
  </div>
  <!-- Widget 1 END -->

  <!-- Widget 2 START -->
  <div class="col-lg-6 col-xxl-4">
    <div class="row g-4">
      <!-- Link block -->
      <div class="col-6">
        <ul class="nav flex-column">
          @for (item of quickLinks; track $index) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/v1"
                >{{ item.name }}
                @if (item.badge) {
                  <span class="badge text-bg-danger ms-2">{{
                    item.badge
                  }}</span>
                }
              </a>
            </li>
          }
        </ul>
      </div>

      <!-- Link block -->
      <div class="col-6">
        <ul class="nav flex-column">
          @for (item of communityLinks; track $index) {
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                >{{ item.name }}
                @if (item.icon) {
                  <i class="bi bi-box-arrow-up-right small ms-1"></i>
                }
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <!-- Widget 2 END -->
</div>
