<section class="pb-0">
  <div class="container">
    <!-- Title -->
    <div class="row g-4 g-md-5">
      <div class="col-md-6 col-lg-4">
        <h2 class="mb-0">Our Approach to SEO Success</h2>
      </div>
      <!-- Item -->
      @for (item of approachStepsData; track $index) {
        <div class="col-md-6 col-lg-4">
          <div class="card card-body border p-4 h-100">
            <h6 class="text-primary mb-4">
              {{
                item && item.stepNumber !== undefined && item.stepNumber < 10
                  ? '0' + item.stepNumber
                  : item?.stepNumber
              }}
            </h6>
            <h5>{{ item.title }}</h5>
            <p class="mb-0">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
