<sticky-header-component [headerClass]="'header-sticky header-absolute'">
  <app-horizontal-menu
    [ulClassName]="'mx-auto'"
    [docShow]="true"
    [darkButtonStyle]="'btn-sm'"
    [darkButton]="true"
    [ulClassName]="'ms-auto'"
    [logoClass]="'me-5'"
    [text]="'Buy now!'"
    [navClass]="'px-lg-5'"
  />
</sticky-header-component>

<main>
  <landing-product-hero />
  <landing-product-technical-detail />
  <landing-product-feature />
  <landing-product />
  <landing-product-features2 />
  <landing-product-list />
  <landing-product-video />
  <landing-product-testimonial-card />
</main>

<app-footer6 />
