<section class="pt-0">
  <div class="container">
    <!-- Title -->
    <div class="inner-container-small mx-auto">
      <div class="text-center mb-6">
        <h2 class="mb-">We've been waiting for you</h2>
        <p class="mb-0">
          You can watch your business bloom and glow, achieving new heights of
          success and radiating prosperity.
        </p>
      </div>
    </div>

    <!-- Form and pricing -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- Contact form START -->
        <form class="row g-4">
          <div class="col-md-6">
            <label class="form-label heading-color">Your name *</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Full name"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label heading-color">Email address *</label>
            <input
              type="email"
              class="form-control form-control-lg"
              id="floatingInput"
              placeholder="name@example.com"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label heading-color">Phone number *</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="(xxx) xx xxxx"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label heading-color">Company *</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Company name"
            />
          </div>

          <div class="col-12">
            <label class="form-label heading-color">Message *</label>
            <textarea
              class="form-control"
              placeholder="Write your message here...."
              id="floatingTextarea2"
              style="height: 150px"
            ></textarea>
          </div>
          <!-- Button -->
          <div class="col-12 d-grid">
            <button class="btn btn-lg btn-primary mb-0">Send a message</button>
          </div>
        </form>
        <!-- Contact form END -->

        <!-- Pricing START -->
        <div class="bg-light border rounded py-4 px-5 mt-6">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="mb-">Need finance guidance?</h5>
              <p class="mb-0">
                We've always worked very hard to give our customers the best
                experience.
              </p>
            </div>

            <div class="col-md-4 ms-auto text-end">
              <div class="mb-2 text-center">
                <span class="heading-color fs-3 fw-bold">{{ currency }}20</span>
                /per hour
              </div>
              <a
                href="javascript:void(0);"
                class="btn btn-white border mb-0 w-100"
                >Book call!</a
              >
            </div>
          </div>
        </div>
        <!-- Pricing END -->
      </div>
    </div>
  </div>
</section>
