<section class="pt-0 mt-n7">
  <div class="container">
    <div
      class="position-relative h-300px h-md-400px rounded-3"
      style="
        background: url(assets/images/bg/05.jpg) no-repeat;
        background-size: cover;
        background-position: center;
      "
    >
      <div class="bg-overlay bg-dark opacity-5"></div>
      <lightgallery
        [settings]="setting"
        class="position-absolute top-50 start-50 translate-middle z-index-2"
      >
        <a
          href="https://www.youtube.com/embed/tXHviS-4ygo"
          class="btn btn-icon btn-xl btn-white btn-round mb-0 stretched-link"
          data-glightbox=""
          data-gallery="Video"
          ><i class="bi bi-play-fill fa-lg"></i
        ></a>
      </lightgallery>
    </div>
  </div>
</section>
