<sticky-header-component
  [headerClass]="'header-sticky header-absolute'"
  [mode]="'dark'"
>
  <app-horizontal-menu
    [containerClass]="false"
    [ulClassName]="'mx-auto'"
    [floatingSearch]="true"
    [darkButton]="true"
    [logoClass]="'me-5'"
    [text]="'Free Consultation'"
    [navClass]="'px-lg-5'"
  />
</sticky-header-component>

<main>
  <digital-agency-hero />
  <digital-agency-about />
  <digital-agency-services />
  <digital-agency-digital-journey />
  <digital-agency-steps />
  <digital-agency-tour-video />
  <digital-agency-projects />
  <digital-agency-statistics />
  <digital-agency-testimonials />
  <digital-agency-cta />
  <digital-agency-blogs />
</main>

<app-footer3 />
