<div class="card bg-transparent mb-6">
  <!-- Card header -->
  <div
    class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center px-0"
  >
    <h5>Personal info</h5>
    <a href="javascript:void(0);" class="btn btn-sm btn-light border mb-0"
      ><i class="bi bi-plus-lg me-1"></i>Add new</a
    >
  </div>

  <!-- Card body -->
  <div class="card-body px-0 pb-0">
    <!-- Card body -->
    <div class="card-body p-0">
      <form class="row g-3">
        <!-- First name -->
        <div class="col-md-6">
          <label class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            value="Jacqueline"
            aria-label="First name"
          />
        </div>

        <!-- Last name -->
        <div class="col-md-6">
          <label class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            value="Miller"
            aria-label="Last name"
          />
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <label class="form-label">Email</label>
          <input type="email" value="example@gmail.com" class="form-control" />
        </div>

        <!-- Mobile number -->
        <div class="col-md-6">
          <label class="form-label">Mobile number</label>
          <input type="text" value="9154857896" class="form-control" />
        </div>

        <!-- Address -->
        <div class="col-12">
          <label class="form-label">Address</label>
          <input
            type="text"
            value="1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548."
            class="form-control"
          />
        </div>

        <!-- Address 2 -->
        <div class="col-12">
          <label class="form-label">Address 2 (Optional)</label>
          <input type="text" class="form-control" />
        </div>

        <!-- Country -->
        <div class="col-md-4">
          <label class="form-label">Country</label>
          <select class="form-select" aria-label="Default select example">
            <option value="1">UK</option>
            <option value="2">USA</option>
            <option value="3">India</option>
          </select>
        </div>

        <!-- State -->
        <div class="col-md-4">
          <label class="form-label">State</label>
          <select class="form-select" aria-label="Default select example">
            <option value="1">New York</option>
            <option value="2">California</option>
            <option value="3">Mumbai</option>
            <option value="3">Peru</option>
          </select>
        </div>

        <!-- Zip -->
        <div class="col-md-4">
          <label class="form-label">Zip</label>
          <input type="text" value="444555" class="form-control" />
        </div>

        <!-- custom checkbox -->
        <div class="col-md-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault"
              >The shipping address is the same as my billing address
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault2"
            />
            <label class="form-check-label" for="flexCheckDefault2"
              >Save this information for next time
            </label>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label me-2">Your saved cards</label>
          <a href="javascript:void(0);"
            ><img
              src="assets/images/elements/visa.svg"
              class="w-40px me-1 ms-1"
              alt=""
          /></a>
          <a href="javascript:void(0);"
            ><img
              src="assets/images/elements/mastercard.svg"
              class="w-40px me-1 ms-2"
              alt=""
          /></a>
        </div>
      </form>
    </div>
  </div>
</div>
