<sticky-header-component headerClass="header-sticky header-absolute">
  <app-horizontal-menu
    ulClassName="mx-auto"
    [docShow]="true"
    [showSignUp]="true"
    [showBuyNow]="true"
  />
</sticky-header-component>

<!-- =======================
Hero START -->
<section class="pt-xl-8" style="padding-top: 0px !important">
  <div class="container">
    <!-- Title and breadcrumb -->
    <app-breadcrumb pageTitle="Cocktail Dress" />

    <div class="row mt-7">
      <!-- Images -->
      <div class="col-md-5 mb-5 mb-md-0">
        <!-- Slider START -->
        <div class="swiper">
          <lightgallery [settings]="setting">
            <swiper-container
              [config]="swiperConfig"
              init="false"
              class="swiper-wrapper"
            >
              <!-- Slider items -->
              @for (image of productImages; track $index) {
                <swiper-slide class="swiper-slide">
                  <a
                    class="w-100 h-100"
                    [attr.data-src]="image"
                    data-glightbox
                    data-gallery="gallery"
                  >
                    <div class="card card-element-hover overflow-hidden">
                      <!-- Image -->
                      <img [src]="image" class="rounded-3" alt="" />
                      <!-- Full screen button -->
                      <div class="hover-element w-100 h-100">
                        <i
                          class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                        ></i>
                      </div>
                    </div>
                  </a>
                </swiper-slide>
              }
            </swiper-container>
          </lightgallery>

          <!-- Add pagination and navigation elements here -->
          <div
            class="d-flex justify-content-between position-absolute top-50 start-0 w-100"
          >
            <a
              href="javascript:void(0);"
              class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-prev"
              ><i class="bi bi-arrow-left"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-next"
              ><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Product detail -->
      <div class="col-md-7 ps-md-6">
        <!-- Title -->
        <h1 class="h2 mb-4">Cocktail Dress</h1>

        <!-- Price -->
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
          "
        >
          <h4 class="text-success">{{ currency }} 657.00</h4>
          <h6 class="text-decoration-line-through">{{ currency }} 900.00</h6>
        </div>
        <p class="mb-4">
          Cocktail dresses are extremely popular these days among women and can
          boost your style statement in the blink of an eye. Fizoillu’s cocktail
          dress rental is an appropriate fusion of contemporary style and
          classic appeal, curated to take your look to the next level at any
          celebration.
        </p>
        <h6>Description</h6>
        <p class="mb-4">
          Appropriate for cocktail parties, a night out, or receptions, our
          cocktail dress rentals are designed to catch the eye of the crowd.
          With an array of pleasing cuts and vibrant colors, our cocktail dress
          promises a stylish and confident look. This dress also comes with a
          lightweight fabric that guarantees sheer comfort. The tailored design
          of this outfit also hugs your figure just right.
        </p>

        <!-- Button -->
        <div class="d-grid">
          <a href="/cart" class="btn btn-primary mb-0 w-100"
            ><i class="bi bi-cart2 me-2"></i>Rent Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <shop-single-specification /> -->

<shop-single-similar-product />
<app-footer1 />
